
body {
    font-size: 1em;
    background-color: #C5D5EB;
    color: #1112FF;
}

/* Header */

h2, h4, h5, h6 {
    background-color: #C5D5EB;
    color: #1112FF;
}

h1 {
    font-family: Playfair Display;
    background-color: #C7C6BF;
    border: 2px solid #1112FF;
}

h2 {
    text-align: center;
    font-weight: bold;
    background-color: #D6D5CE;
    padding: .5em;
}

header{
    padding: 5px 5px 5px 5px;
}

header h1{
    font-weight: bold;
    text-align: center;
}



header p{
    font-family: Quicksand;
    text-align: left;
    font-weight: normal;
}


/* Hero Section */


#hero {
    font-family: Playfair Display;
    font-size: 1.5em;
    color: #1112FF;
    text-align: center;
    float: right;
}

#hero p{
    margin: 5px;

}

#hero img {
    width: 300px;
    height: auto;
    margin: 1em;
}
 
/* Portfolio */

#portfolio h3 {
    font-family: Playfair Display;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}
#portfolio {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #C7C6BF;
    padding: .5em;
    border: 1px solid #1112FF;
    float: top;
}

#portfolio p, ul{
    font-family: Quicksand;
}

#portfolio ul {
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Testimonial */

#testimonial {
    font-family: Quicksand;
    border: 2px solid #1112FF;
    background-color: #C7C6BF;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    margin: 5px 0px;
}

#testimonial img{
    float: left;
    margin-right: 20px;
    max-height: 90px;
    border-radius: 80%;
}

#testimonial span{
    font-size: 24px;
    margin-right: 30px;
}

/* Contact Information */

#contact{
    padding: 50px 50px 0px 0px;
}

#contact h3{
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

#contact ul{
    list-style-type: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Footer */

.footer {
    font-family: Playfair Display;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
}






